.navbar-btn {
    --bs-btn-font-weight: 600;
    --bs-btn-color: purple;
    --bs-btn-bg: var(--white);
    --bs-btn-border-color: purple;
    --bs-btn-hover-color: purple;
    --bs-btn-hover-bg: #E6CCE6;
    --bs-btn-hover-border-color: #E6CCE6;
    --bs-btn-focus-shadow-rgb: #E6CCE6;
    --bs-btn-active-color: purple;
    --bs-btn-active-bg: #CC99CC;
    --bs-btn-active-border-color: #CC99CC;
    --bs-btn-border-width: 0;
}

a {
    color: #A040A0;
}

a:hover {
    color: #C080C0;
}

a:active {
    color: #8D1A8D;
}
