{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
  </head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DGTHLHXK5L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DGTHLHXK5L');
  </script>

  <body>
    
    {% include header.html %}
    
    <div class="container main_container">
        <div class="row">
            <div class="fadeInUp-animation" id="content" style="min-height: 800px;">

                <div class="container about_container">
                    <aside>
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">
                                <h5>CMPT 419 D100 / 983 G100</h5>
                                <div class="text-muted">Special Topics in Artificial Intelligence</div>
                                <h5>Trustworthy Deep Learning</h5>
                            </div>
                        </div>
                        <div>Summer 2026 (May 11 - Aug 10) In Person @ Burnaby <a href="https://roomfinder.sfu.ca/apps/sfuroomfinder_web/?q=C9000" target="_blank">C9000</a></div>
                        <ul>
                          <li>Tuesdays 4:30 - 5:20 PM</li>
                          <li>Thursdays 3:30 - 5:20 PM</li>
                        </ul>
                        <hr>
                        <p><b>Instructor</b>: <a href="https://linyil.com" target="_blank">Linyi Li</a> (<a href="https://sfu-tai.github.io/" target="_blank">TAI Lab</a>) <code>linyi@sfu.ca</code><br>
                        Office hour: Tuesdays 3:30 - 4:20 PM @ TASC1 9215 (or <a href="https://sfu.zoom.us/my/linyili" target="_blank">Zoom</a> if not in office)</p>
                        <div><b>TA</b>:</div>
                        <ul>
                          <li>Qinchan Li <code>qla126@sfu.ca</code><br>
                        </ul>

                        <nav class="navbar navbar-light rounded bg-light flex-column align-items-stretch p-3" style="margin-right: 0.5rem">
                            <a class="btn btn-outline-success side-btn" href="#schedule">Schedule, Syllabus, and Slides</a>
                            <a class="btn btn-outline-success side-btn" href="#projects">Assignments and Project</a>
                            <a class="btn btn-outline-success side-btn" href="#grading">Grading</a>
                            <a class="btn btn-outline-success side-btn" href="#info">Information Platform</a>
                            <a class="btn btn-outline-success side-btn" href="#prerequisites">Prerequisites</a>
                            <a class="btn btn-outline-success side-btn" href="#textbook">Textbook and Reading Materials</a>
                            <a class="btn btn-outline-success side-btn" href="#ethics">Ethics Statement</a>
                            <a class="btn btn-outline-success side-btn" href="#integrity">Academic Integrity Policy</a>
                            <a class="btn btn-outline-success side-btn" href="#ack">Acknowledgement</a>
                        </nav>
                  
                    </aside>
                  
                    <div class="col-12">
                      {{ content }}
                    </div>
                  </div>

            </div>
        </div>

    </div>


    {% include footer.html %}
    {% include scripts.html %}

  </body>

  <script>
    $("#nav_{{ page.barename }}").addClass('active');
  </script>
</html>
